body {
    background-color: beige;
    margin-top: 20px;
   
}
.nav-bar {
    background-color: red;
    font-size: small;
    color: white;
}
nav strong {
color: red;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}
li {list-style-type: none;}